<body>
  <ion-content class="login-page" fullscreen>

  <div class="login-header">
    <div class="barra-superior"></div>
    <div class="barra-inferior"></div>
  </div>

  <!-- Titulo Inicio de Sesión -->
  <div class="titulo-container">
    <h1 class="titulo-texto">Seleccione una Categoria</h1>
  </div>

    <!-- Botones de hub -->
    <div class="botones">
      <ion-button expand="block" class="btn-pedidos" (click)="Irapedidos()">
        Pedidos
      </ion-button>

      <ion-button expand="block" class="btn-facturas" (click)="Irafacturas()">
        Facturas
      </ion-button>

      <ion-button expand="block" class="btn-dashboard" (click)="Iradashboards()">
        Dashboards
      </ion-button>

    </div>

</ion-content>
</body>
