<ion-content class="productos-page">
  <div class="login-header">
    <div class="barra-superior">
      <div class="top-row">
        <ion-icon name="menu" class="icon-left" (click)="toggleMenu()"></ion-icon>
        <h1 class="titulo-texto">Productos</h1>
      </div>
    </div>
  </div>

  <div class="lista-productos">
    <ion-button *ngIf="editStock && !editPrecio" (click)="editarPrecio()" class="btn-cambiar">
      Editar Precio
    </ion-button>
    <ion-button *ngIf="!editStock && editPrecio" (click)="editarStock()" class="btn-cambiar">
      Editar Stock
    </ion-button>
    <ion-list>
      <ion-item class="producto-item" *ngFor="let p of productos">
        <div class="producto-card">
          <div *ngIf="!editStock && editPrecio" class="producto-info">
            <div class="producto-nombre">{{ p.nombre }}</div>
            <div class="producto-detalle">Precio actual: <b>{{ p.precio | number:'1.0-0' }} CLP</b></div>
          </div>
          <div *ngIf="editStock && !editPrecio" class="producto-info">
            <div class="producto-nombre">{{ p.nombre }}</div>
            <div class="producto-detalle">Stock actual: <b>{{ p.stock | number:'1.0-0' }}</b></div>
          </div>
          <div *ngIf="editProductos" class="acciones">
            <ion-button *ngIf="editPrecio && !editStock" class="btn-cambiar" (click)="abrirModal(p)">
                <svg slot="start"
                    viewBox="0 0 24 24"
                    width="22" height="22"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false">
                  <path [attr.d]="mdi.edit" fill="currentColor"></path>
                </svg>
            </ion-button>
            <ion-button *ngIf="!editPrecio && editStock" class="btn-cambiar" (click)="abrirModalStock(p)">
                <svg slot="start"
                    viewBox="0 0 24 24"
                    width="22" height="22"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false">
                  <path [attr.d]="mdi.edit" fill="currentColor"></path>
                </svg>
            </ion-button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <!-- Modal simple controlado por flags -->
  <div class="modal-backdrop" *ngIf="mostrarModal && editPrecio && !editStock" (click)="cerrarModal()"></div>
  <div class="modal" *ngIf="mostrarModal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Cambiar precio</h3>
    </div>
    <div class="modal-body">
      <p *ngIf="productoSeleccionado">{{ productoSeleccionado?.nombre }}</p>
      <ion-item>
        <ion-label position="stacked">Nuevo precio (CLP)</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoPrecio"></ion-input>
      </ion-item>
    </div>
    <div class="modal-actions">
      <ion-button class="btn-cancelar" fill="clear" (click)="cerrarModal()">Cancelar</ion-button>
      <ion-button class="btn-guardar" (click)="confirmarCambio()">Guardar</ion-button>
    </div>
  </div>

  <div class="modal-backdrop" *ngIf="mostrarModalStock && !editPrecio && editStock" (click)="cerrarModalStock()"></div>
  <div class="modal" *ngIf="mostrarModalStock" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Cambiar stock</h3>
    </div>
    <div class="modal-body">
      <p *ngIf="productoSeleccionado">{{ productoSeleccionado?.nombre }}</p>
      <ion-item>
        <ion-label position="stacked">Nuevo stock</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoStock"></ion-input>
      </ion-item>
    </div>
    <div class="modal-actions">
      <ion-button class="btn-cancelar" fill="clear" (click)="cerrarModalStock()">Cancelar</ion-button>
      <ion-button class="btn-guardar" (click)="confirmarCambioStock()">Guardar</ion-button>
    </div>
  </div>

    <!-- Overlay del menú -->
  <div class="menu-overlay" *ngIf="menuAbierto" (click)="cerrarMenu()"></div>

  <!-- Menú lateral -->
  <div class="menu-lateral" [class.abierto]="menuAbierto">
    <div class="menu-header">
      <div class="menu-user-info">
        <p>Bienvenido,</p><p class="user-name" *ngIf="nombreUsuario">{{ nombreUsuario }} {{ apellidoUsuario }}</p>
      </div>
      <ion-icon name="close" class="icon-cerrar-menu" (click)="cerrarMenu()"></ion-icon>
    </div>
    
    <div class="menu-contenido">
      <div class="menu-item" (click)="IrAPerfil()">
        <ion-icon name="person"></ion-icon>
        <span>Perfil</span>
      </div>
      <div class="menu-divider"></div>
      <div class="menu-item" (click)="Irapedidosmenu()">
        <ion-icon name="cube"></ion-icon>
        <span>Pedidos</span>
      </div>
      
      <div class="menu-item" (click)="Irafacturasmenu()">
        <ion-icon name="document-text"></ion-icon>
        <span>Facturas</span>
      </div>
      
      <div class="menu-item" (click)="Iradashboardsmenu()">
        <ion-icon name="bar-chart"></ion-icon>
        <span>Dashboards</span>
      </div>

      <div class="menu-divider"></div>

      <div class="menu-item" (click)="IrAUsuarios()">
        <ion-icon name="person"></ion-icon>
        <span>Usuarios</span>
      </div>
      
      <div class="menu-item" (click)="IrListarClientes()">
        <ion-icon name="people"></ion-icon>
        <span>Clientes</span>
      </div>

      <div class="menu-item" (click)="IraProductos()">
        <ion-icon name="bag"></ion-icon>
        <span>Productos</span>
      </div>

      <div class="menu-divider"></div>

      <div class="menu-item" (click)="IrMenu()">
        <ion-icon name="arrow-undo"></ion-icon>
        <span>Volver al Menu</span>
      </div>
      
      <div class="menu-item" (click)="cerrarSesion()">
        <ion-icon name="log-out"></ion-icon>
        <span>Cerrar Sesión</span>
      </div>
    </div>
  </div>
</ion-content>
